.hexagonCard {
  margin-top: 45px;
  width: 154px;
  height: 90px;
  background: #063b7c;
  border-color: #063b7c;
  position: relative;
  display: inline-block;

  @include respond(tab) {
    width: 122px;
    height: 70px;
    margin-top: 45px;
  }

  &::before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 45px solid;
    border-color: inherit;
    border-left: 77px solid transparent;
    border-right: 77px solid transparent;
    position: absolute;
    top: -45px;

    @include respond(tab) {
      border-bottom: 35px solid;
      border-color: inherit;
      border-left: 61px solid transparent;
      border-right: 61px solid transparent;
      top: -35px;
    }
  }

  &::after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -45px;
    border-top: 45px solid;
    border-color: inherit;
    border-left: 77px solid transparent;
    border-right: 77px solid transparent;

    @include respond(tab) {
      bottom: -35px;
      border-top: 35px solid;
      border-color: inherit;
      border-left: 61px solid transparent;
      border-right: 61px solid transparent;
    }
  }

  &_textContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-white;

    &_text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: Inter;

      .heading {
        text-align: center;
        font-size: 40px;
        font-weight: 600;

        @include respond(tab) {
          font-size: 28px;
        }
      }

      .subtext {
        font-size: 16px;
        font-weight: 500;
        text-align: center;

        @include respond(tab) {
          font-size: 14px;
        }
      }
    }
  }
}
