$color-white: #fff;
$color-darkblue: #094ba7;
$color-black: #232426;
$color-navLink: #232323;

$bgcolor-statscontainer: #0278ae;
$bgcolor-darkmode: rgba(25, 40, 65, 0.88);

$toast-bg-green: rgba(82, 176, 98, 0.95);
$toast-bg-red: rgba(255, 64, 88, 0.95);
